.sprint {
  &-container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-answers {
    &-wrap {
      width: 100%;
      margin: 0px 0px 30px 0px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
    }
  }
  &-wrap {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
  }
  &-description {
    &-wrap {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.25);
      margin: 0px 0px 25px 0px;
      border-radius: 10px;
    }
    font-size: 16px;
  }
}
.button.btn-3.btn-2.lvl {
  font-size: 20px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
.btn-start {
  width: 100%;
  max-width: 150px;
  height: 40px;
  background-color: #4c77d5;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
  position: relative;
  color: #fff;
  overflow: hidden;
  border: #55f0c479 0.5px solid;

  &:active {
    background-color: #55f0c4;
    color: #000;
  }
  &.active {
  }
}
