.home {
	&-particles {
		position: relative;
		z-index: -1;
	}
	&-subtitle {
		&-text {
			font-size: 18px;
		}
	}
	&-title {
		font-size: 50px;
		font-weight: bold;
		margin: 0px 0px 20px 0px;
		font-family: "Playfair Display", serif;
		&__rs {
			color: #4afac8;
		}
		&-wrap {
			text-shadow: rgba(0, 0, 0, 0.4) 2px 0 16px;

			text-align: left;
			width: 100%;
			max-width: 450px;
			@media (max-width: 768px) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&-wrap {
		display: flex;
		justify-content: center;
		flex: 1 1 auto;
		height: 100%;
		width: 100%;
	}
	&-aside {
		position: relative;
		// animation: up-down-man 4s infinite;
		text-shadow: rgba(0, 0, 0, 0.4) 2px 0 16px;
		&::after {
			content: "";
			position: absolute;
			bottom: 1px;
			right: 90%;
			width: 168%;
			height: 12px;
			background-color: #d1c8c1;
			@media (max-width: 768px) {
				width: 0;
			}
		}
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	width: 40px;
		// 	height: 40px;
		// 	background: url("../../../assets/img/home/19.png");
		// 	background-size: 40px 40px;
		// }
	}
	&-content {
		&-wrap {
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0px 0px 0px 0px;
			@media (max-width: 768px) {
				flex-direction: column;
			}
		}
	}
	a {
		color: rgb(61, 77, 167);
	}
}
.app {
	&-functional {
		margin: 0px 0px 50px 0px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		@media (max-width: 1024px) {
		}
		&-title {
			text-shadow: rgba(0, 0, 0, 0.4) 2px 0 16px;
			font-size: 40px;
			font-weight: bold;
			margin: 0px 0px 30px 0px;
		}
		&-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px 15px;
			min-height: 400px;
			max-width: 1300px;
			@media (max-width: (1024px)) {
				max-width: 600px;
				grid-template-columns: repeat(1, 1fr);
			}
		}
		&-item {
			background: rgba(0, 0, 0, 0.25);
			color: #fff;
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
				0px 1px 10px 0px rgba(0, 0, 0, 0.12);
			border-radius: 10px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0px 0px 15px 0px;
			&__title {
				font-size: 30px;
				font-weight: bold;
				margin: 10px 0px 15px 0px;
			}
			&__text {
				flex: 1 1 auto;
				text-shadow: rgba(0, 0, 0, 0.4) 2px 0 16px;
				margin: 0px 0px 15px 0px;
			}
			&__url {
				width: 170px;
				display: flex;
				justify-content: center;
			}
		}
		&-img {
			&-wrap {
				max-height: 375px;
			}
			width: 100%;
			height: 100%;
			object-fit: contain;
			max-height: 300px;
		}
	}
	&-team {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 0px 0px 50px 0px;
		&-header {
			display: flex;
			justify-content: space-between;
			@media (max-width: 580px) {
				flex-direction: column;
				align-items: center;
			}
		}
		&-title {
			text-shadow: rgba(0, 0, 0, 0.4) 2px 0 16px;
			font-size: 40px;
			font-weight: bold;
		}
		&-container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 30px 15px;
			min-height: 300px;
			max-width: 600px;
		}
		&-item {
			padding: 10px;
			background: rgba(0, 0, 0, 0.55);
			color: #fff;
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
				0px 1px 10px 0px rgba(0, 0, 0, 0.12);
			border-radius: 10px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			&__title {
				font-size: 30px;
				&-wrap {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}
			}
			&__text {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				text-align: left;
			}
			&__url {
				align-self: flex-end;
			}
		}
		&-img {
			&-wrap {
				width: 200px;
				height: 200px;
				border-radius: 30% 20px 30% 20px;
				overflow: hidden;
				max-height: 175px;
				background-color: #257a6fbb;
				margin: 0px 30px 0px 0px;
				flex: 0 0 auto;
			}
			width: 100%;
			height: 100%;
		}
	}
}
@keyframes up-down-man {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0px, 10px);
		transform: translate(0px, 10px);
	}
	50% {
		-webkit-transform: translate(0px, -10px);
		transform: translate(0px, -10px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
