.links-wrapper {
    width: 300px;
    margin: 0 auto;
}
.select {
    background-color: green;
}
.games {
    &-title {
        font-size: 36px;
        font-weight: bold;
        margin: 20px 0px 30px 0px;
    }
    &__item {
        &-lvl {
        }
    }
}
